.ls-dv-controls-bar {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $gray-30;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 1.125rem;
  gap: 0.75rem;
  padding: 0.5rem;
}

button {
  all: unset;
  border: 0;
  color: $gray-80;
}

button:hover {
  color: $gray-100;
  border-radius: 0.625rem;
}

button:disabled {
  color: $gray-40;
  cursor: not-allowed;
}

.ls-dv-divider {
  height: 1px;
  background-color: $gray-30;
  width: 100%;
  margin: -0.25rem 0;
}