.controls-bar {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--gray-30, #e0e2e5);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 1.125rem;
  gap: 0.75rem;
  padding: 0.5rem;
}

button {
  all: unset;
  border: 0;
  color: var(--gray-80, #6c6e73);
}

button:hover {
  color: var(--gray-100, #45484d);
  border-radius: 0.5rem;
}

button:disabled {
  color: var(--gray-40, #c1c4c8);
  cursor: not-allowed;
}

.divider {
  height: 1px;
  background-color: var(--gray-30, #e0e2e5);
  width: 100%;
  margin: -0.25rem 0;
}