:host {
  position: fixed;
  z-index: 1000;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: end;
  height: 2.25rem;
  overflow: visible;
}

.controls-bar {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid var(--gray-30, #e0e2e5);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.status-bar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.controls-bar > :not(:nth-child(1)) {
  border-left: 1px solid var(--gray-30, #e0e2e5);
}

button {
  border: 0;
}

button:hover {
  color: var(--gray-100, #45484d);
  border-radius: 0.5rem;
}

button:disabled {
  color: var(--gray-40, #c1c4c8);
  cursor: not-allowed;
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 100%;
  height: 0.5rem;
  background: var(--gray-20, #EDEFF2);
  border-radius: 0.25rem;
  outline: none;
}

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--gray-70, #4a4c51); /* Custom thumb color */
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--gray-70, #4a4c51); /* Custom thumb color */
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Track color for Firefox */
input[type="range"]::-moz-range-track {
  background: var(--gray-20, #EDEFF2);
  height: 0.5rem;
  border-radius: 0.25rem;
}

/* Track color for Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--gray-20, #EDEFF2);
  height: 0.5rem;
  border-radius: 0.25rem;
}



/* Global Styles */

p {
  color: var(--gray-80, #6c6e73);
  font-family: var(--font-family);
  font-size: var(--text-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-sm-line-height);
}

span {
  color: var(--gray-80, #6c6e73);
  font-family: var(--font-family);
  font-size: var(--text-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-sm-line-height);
}

a {
  color: var(--primary-60, #4456f6);
  font-size: var(--text-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--text-sm-line-height);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: var(--primary-70, #2134dc);
}

.button-link,
.button-link:hover {
  all: unset;
}

select {
  appearance: none;
  height: 2.25rem;
}

.input-wrapper {
  position: relative;
  width: fit-content;
}

#selectorIcon {
  position: absolute;
  top: 50%;
  right: 0.675rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--gray-80, #6c6e73);
}

#selectLeadingIcon {
  position: absolute;
  top: 50%;
  left: 0.675rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--gray-80, #6c6e73);
}

.has-leading-icon {
  padding-left: 2.5rem;
}

button {
  all: unset;
  border: 0;
  appearance: button;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-80, #6c6e73);
  text-transform: capitalize;
}

button.tertiaryGrey:hover {
  background: var(--gray-10, #f7f8fa);
}

.button-group {
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-30, #e0e2e5);
  background: var(--white, #ffffff);
  overflow: clip;
}

.button-group button {
  display: flex;
  background: transparent;
  border-radius: unset;
  padding: 0.25rem 0.75rem;
  min-width: 2.156rem;
  min-height: unset;
  color: var(--gray-80, #6c6e73);
}

.button-group button:hover {
  background: var(--gray-10, #f7f8fa);
}

.button-group > :first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.button-group > :last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.button-group > :not(:first-child) {
  border-left: 1px solid var(--gray-30, #e0e2e5);
}

