:host {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.tooltip {
  position: absolute;
  border-radius: 0.5rem;
  background: var(--gray-100, #45484d);
  color: var(--white, #fff);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  padding: 0.5rem 0.75rem;
  max-width: 10rem;
  white-space: wrap;
  z-index: 1000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 -1px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.tooltip.visible {
  width: max-content;
  opacity: 1;
  visibility: visible;
  scale: 1;
  transition: opacity 0.3s 0.5s ease-out, scale 0.1s 0.5s ease-out;
}

.tooltip.hidden {
  opacity: 0;
  visibility: hidden;
  scale: 0.85;
  transition: opacity 0.5s 0.5s ease-in, scale 0.1s 0.5s ease-in;
}
#arrow {
  position: absolute;
  background: var(--gray-100, #45484d);
  width: 0.625rem;
  height: 0.625rem;
  transform: rotate(45deg);
  border-radius: 0.125rem;
}
