.label-span {
  position: absolute;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  line-height: 1rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.card {
  display: flex;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 4px;
  border-radius: 0.55rem;
  gap: 4px;
  border: 0;
}

.innerButton {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.titleButton {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
}

.ls-editor-infobox {
  padding: 2px 8px 2px 8px;
}

.toolbox-section-title {
  color: var(--gray-100, #45484d);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 155.556% */
}

.toolbox-section-description {
  color: var(--gray-80, #5e6066);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}
