@import '../../global/tokens';
* {
  box-sizing: border-box;
  margin: 0;
}

.ls-dv-formfield-host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.ls-dv-formfield-top-elements {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.125rem;
}

.ls-dv-formfield-left-side {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;

  ls-icon {
    color: $gray-80;
  }

  .ls-dv-formfield-label {
    color: $gray-100;
    /* text-base/leading-6/font-medium */
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
  }
}

.ls-dv-formfield-bottom-elements {
  position: relative;
  min-height: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: fit-content;
  padding: 0 0.125rem;
}

.ls-dv-formfield-description-text {
  color: $gray-80;
  width: 100%;
  /* text-xs/leading-4/font-light */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}

.ls-dv-formfield-error-text {
  color: $red-70;
  width: 100%;
  /* text-xs/leading-4/font-light */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}

.ls-dv-formfield-count-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 0.125rem;
  align-items: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  text-align: right;
}

.ls-dv-formfield-count {
  display: flex;
  align-items: center;
  color: $gray-70;
  gap: 0.125rem;
}

.ls-dv-formfield-count-error {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  color: $red-70;
}


