@import '../../global/tokens';
:host {
  display: block;
}

.ls-dv-button-footer {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid $gray-20;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: auto;
}


button.ls-dv-secondary {
  border: 1px solid $gray-50;
  background: $white;
  color: $gray-90;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

button.ls-dv-secondary:hover {
  border: 1px solid $gray-50;
  background: $gray-10;
}

button.ls-dv-destructive {
  border: 1px solid $red-60;
  background-color: white;
  color: $red-60;
}

button.ls-dv-destructive:hover {
  border: 1px solid $red-70;
  background: $red-10;
}

button {
  display: flex;
  gap: 0.5rem;
  border: 0;
  appearance: button;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-lg);
  background-color: $primary-60;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  min-height: 2.25rem;
  min-width: 2.25rem;
}

.ls-dv-full-rounded {
  border-radius: calc(infinity * 1px);
}
