:host {
  display: block;
}

.button-footer {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid var(--gray-20, #f0f1f2);
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: auto;
}


button.secondary {
  border: 1px solid var(--gray-50, #c8c9cc);
  background: var(--white, #fff);
  color: var(--gray-90, #5e6066);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

button.secondary:hover {
  border: 1px solid var(--gray-50, #c8c9cc);
  background: var(--gray-10, #f7f8fa);
}

button.destructive {
  border: 1px solid var(--red-60, #f04438);
  background-color: white;
  color: var(--red-60, #f04438);
}

button.destructive:hover {
  border: 1px solid var(--red-70, #d92d20);
  background: var(--red-10, #fff1f0);
}

button {
  display: flex;
  gap: 0.5rem;
  border: 0;
  appearance: button;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-lg);
  background-color: var(--primary-60, #4456f6);
  color: white;
  font-weight: 500;
  text-transform: capitalize;
  min-height: 2.25rem;
  min-width: 2.25rem;
}

.full-rounded {
  border-radius: calc(infinity * 1px);
}
