.ls-dv-radio-label{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.625rem;
  padding: 0.5rem 0.75rem;
}

.ls-dv-radio-label.ls-dv-checked {
  background-color: $primary-10;
  border-color: $primary-20;
  color: $primary-90
}

.ls-dv-radio-label:not(checked) {
  color: $gray-90;
  background-color: $gray-10;
  border: 1px solid $gray-20;
}

.ls-dv-radio-label.ls-dv-checked:hover {
  border-color: $primary-30;
  color: $primary-100;
  
}

.ls-dv-radio-label:not(.ls-dv-checked):not(.ls-dv-disabled):hover {
  border-color: $gray-50;
  color: $gray-100;
}

.ls-dv-radio-label:focus:not(.ls-dv-disabled) {
  box-shadow: var(--focus-box-shadow);
  outline-offset: var(--focus-outline-offset);
  outline: none;
}

.ls-dv-radio-label.ls-dv-disabled {
  cursor: not-allowed;
}

.ls-dv-radio-label.ls-dv-disabled.ls-dv-checked {
  background-color: $primary-10;
  color: $primary-40;
  border-color: $primary-40;
}

.ls-dv-radio-label.ls-dv-disabled:not(.ls-dv-checked) {
  background-color: $gray-10;
  color: $gray-60;
}

.ls-dv-input-class {
  margin-top: 0px;
}

.ls-dv-input-class:focus {
  outline: none;
}

.ls-dv-input-class:disabled {
  cursor: not-allowed;
}

.ls-dv-span-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}