:host {
  display: block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.75rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-20, #edeff2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.indeterminate {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-60, #4456f6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.25rem;
  width: 1.25rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.indeterminate::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.125rem;
  background-color: white;
}

input:checked + .slider {
  background-color: var(--primary-60, #4456f6);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-60, #4456f6);
  outline: 0.25rem solid var(--primary-20, #e3e6ff);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.25rem);
  -ms-transform: translateX(1.25rem);
  transform: translateX(1.25rem);
}

/* Rounded sliders */
.slider.round, .indeterminate.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}
