:host {
  display: block;
  position: absolute;
  border: 1px solid rgb(49, 49, 49);
  margin: 0px;
  padding: 0px 0px 0px 0px;
  isolation: isolate;
}

.ls-editor-field-editable {
  display: block;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;

  /* no extra spaces */
  white-space: nowrap;
  border: 0px solid #000;
  margin: 0;
  padding: 0px 0px 0px 0px;
  /* default widths */
  min-width: 2em;
  background-color: white;
  height: 100%;
  width: 100%;
}

.ls-editor-field-editable:focus {
  outline: none;
}

.ls-editor-field-draggable {
  display: block;
  font-family: inherit;
  font-size: inherit;

  overflow: hidden;

  /* no extra spaces */
  white-space: nowrap;
  background-color: white;

  /* default widths */
  min-width: 2px;
  height: 98%;
  width: 98%;
}

.is-selected {
    border: 1px dotted rgb(193, 26, 26);
}

.hidden-field {
  display: none;
}

.draggable-input {
  font-family: inherit;
  font-size: inherit;
  position: relative;
  height: 95%;
  width: 95%;
}

.editing-input {
  caret-color: rgb(15 23 42);
  caret-shape: auto;
  height: 100%;
  width: 100%;
}