:host {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: content-box;
  isolation: isolate;
  min-height: 16px;

  .ls-editor-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.ls-dv-editor-field-editable {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  overflow: hidden;
  word-break: break-all;
  white-space: pre-wrap;

  /* no extra spaces */
  margin: 0;
  margin-top: auto;
  padding: 0px 0px 0px 0px;
  /* default widths */
  min-width: 2em;
  width: calc(100% - 13px);
  max-height: 100%;
}

.ls-dv-editor-field-editable:focus {
  outline: none;
}

.ls-dv-editor-field-draggable {
  display: flex;
  align-items: flex-end;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  word-break: break-all;
  white-space: pre-wrap;

  /* default widths */
  min-width: 2px;
  height: 100%;
  width: calc(100% - 13px);
  margin-top: auto;
}

/* .ls-dv-is-selected {
    border: 1px dotted rgb(193, 26, 26);
} */

.ls-dv-hidden-field {
  display: none;
}

.ls-dv-date-field-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

input, textarea {
  all: unset;
  color: inherit;
}

textarea {
  resize: none;
  overflow: hidden;
  word-break: break-all;
  white-space: pre-wrap;
}

textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

.ls-dv-draggable-input {
  font-family: inherit;
  font-size: inherit;
  position: relative;
  height: 95%;
  width: 95%;
}

.ls-dv-editing-input {
  caret-color: rgb(15 23 42);
  caret-shape: auto;
  height: 100%;
  width: 100%;
}

.ls-dv-required-icon {
  color: $red-60;
}

.ls-dv-x-button {
  all: unset;
  cursor: pointer;
  transform: translate(55%, -55%);
  position: absolute;
  color: white;
  background: $gray-80;
  border-radius: 50%;
  top: 0;
  right: 0;
}

.ls-dv-x-button:hover {
  background: $gray-90;
}

.resize-handles {
  pointer-events: none;
}

.resize-handle {
  position: absolute;
  background: var(--field-border-color);
  border-radius: 1px;
}

.handle-e {
  width: 4px;
  height: 16px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.handle-s {
  width: 16px;
  height: 4px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.handle-se {
  width: 6px;
  height: 6px;
  right: 0px;
  bottom: 0px;
}
