:host {
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  isolation: isolate;
}

.ls-editor-field-editable {
  display: block;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;

  /* no extra spaces */
  white-space: nowrap;
  margin: 0;
  padding: 0px 0px 0px 0px;
  /* default widths */
  min-width: 2em;
  height: 100%;
  width: 100%;
}

.ls-editor-field-editable:focus {
  outline: none;
}

.ls-editor-field-draggable {
  display: block;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;

  /* no extra spaces */
  white-space: nowrap;

  /* default widths */
  min-width: 2px;
  height: 98%;
  width: 98%;
}

/* .is-selected {
    border: 1px dotted rgb(193, 26, 26);
} */

.hidden-field {
  display: none;
}

input {
  all: unset;
}

.draggable-input {
  font-family: inherit;
  font-size: inherit;
  position: relative;
  height: 95%;
  width: 95%;
}

.editing-input {
  caret-color: rgb(15 23 42);
  caret-shape: auto;
  height: 100%;
  width: 100%;
}

.required-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  color: var(--red-60, #f64a44);
}

.x-button {
  all: unset;
  cursor: pointer;
  transform: translate(55%, -55%);
  position: absolute;
  color: white;
  background: var(--gray-80, #3a3a3a);
  border-radius: 50%;
  top: 0;
  right: 0;
}

.x-button:hover {
  background: var(--gray-90, #1c1c1c);
}
