:host {
  display: block;
}

* {
  margin: 0;
}

.ls-editor-infobox {
  padding: 0.25rem;
}

.toolbox-section-title {
  color: var(--gray-100, #45484d);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 155.556% */
  margin-bottom: 0.375rem;
}

.toolbox-section-description {
  color: var(--gray-80, #5e6066);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 0.375rem;
}