* {
  box-sizing: border-box;
  font-family:
    'IBM Plex Sans',
    sans-serif;
  margin: 0;
}

.host {
  display: flex;
  width: 100%;
  padding: 0.25rem;
  align-items: flex-start;
  gap: 0.25rem;
  border-radius: 0.625rem;
  border: 1px solid var(--Grey-20, #edeff2);
  background: var(--Grey-10, #f7f8fa);
}

.input-container {
  position: relative;
  display: flex;
  width: 100%;
}

#fieldIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.75rem;
  color: var(--gray-80);
}

#fieldIconDisabled {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.75rem;
  color: var(--gray-60);
}

#password-icon {
  padding-right: 0.25rem;
}

.icon-input {
  padding-left: 2.5rem !important;
}

.button-input {
  padding-right: 2.5rem !important;
}

.right-items-input {
  padding-right: 4rem !important;
}

.input-basic {
  display: flex;
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  /* Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* text-sm/leading-5/font-regular */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
}

.input-ls {
  display: flex;
  width: 100%;
  height: 1.75rem;
  padding: 0 0.5rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.375rem;
  /* Shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* text-sm/leading-5/font-regular */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;


}

.input-ls::-webkit-outer-spin-button,
.input-ls::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-ls {
  -moz-appearance: textfield;
}

input-base:active:not(:disabled) {
  outline: 1px solid var(--Legalesign-Blue-60, #4456f6);
  box-shadow:
    0px 0px 3px 0px rgba(0, 15, 153, 0.25),
    0px 0px 2px 0px rgba(0, 15, 153, 0.06),
    0px 0px 0px 4px #9dc3fc;
}

input:focus:not(:disabled) {
  outline: 1px solid var(--Legalesign-Blue-60, #4456f6);
  box-shadow:
    0px 0px 3px 0px rgba(0, 15, 153, 0.25),
    0px 0px 2px 0px rgba(0, 15, 153, 0.06),
    0px 0px 0px 4px #9dc3fc;
}

.default {
  border: 1px solid var(--gray-40, #d8d9dc);
  background: var(--White, #fff);
  color: var(--gray-100);
}

.default:hover {
  border: 1px solid var(--gray-50, #d8d9dc);
  background: var(--White, #fff);
  color: var(--gray-110);
}

.disabled {
  border: 1px solid var(--gray-40, #d8d9dc);
  background: var(--gray-10, #f7f8fa);
  color: var(--gray-60);
  cursor: not-allowed;
}

.display-only {
  border: 1px solid var(--gray-40, #d8d9dc);
  background: var(--gray-10, #f7f8fa);
  color: var(--gray-100);
  cursor: not-allowed;
}

.invalid {
  border: 1px solid var(--red-40, #ffa19e);
  background: var(--White, #fff);
  color: var(--Red-100, #7a1714);
}

.invalid:hover {
  border: 1px solid var(--red-50, #ffa19e);
  background: var(--White, #fff);
  color: var(--Red-100, #7a1714);
}

.valid {
  border: 1px solid var(--green-40, #72f0c2);
  background: var(--White, #fff);
  color: var(--Green-100, #125241);
}

.valid:hover {
  border: 1px solid var(--green-50, #72f0c2);
  background: var(--White, #fff);
  color: var(--Green-100, #125241);
}

.right-items {
  position: absolute;
  padding: 0.25rem;
  height: 36px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

#invalidIcon {
  margin: 0 0.5rem;
  color: var(--red-70);
}

#validIcon {
  margin: 0 0.5rem;
  color: var(--green-60);
}

.button {
  display: flex;
  height: 28px;
  width: 28px;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid var(--gray-50, #c8c9cc);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  #buttonIcon {
    color: var(--gray-90);
  }
}

.button-disabled {
  display: flex;
  height: 28px;
  width: 28px;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid var(--gray-40, #D8D9DC);
  background: var(--gray-=10, #F7F8FA);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  cursor: not-allowed;

  #buttonIcon {
    color: var(--gray-70);
  }
}

.button:hover {
  border: 1px solid var(--gray-50, #c8c9cc);
  background: var(--gray-20, #edeff2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  #buttonIcon {
    color: var(--gray-100);
  }
}

.button:active {
  border: 1px solid var(--Primary-Blue-Light, #4456f6);
  background: var(--White, #fff);
  box-shadow:
    0px 0px 4px 0px #c7ddff inset,
    0px 0px 0px 4px #9dc3fc;

  #buttonIcon {
    color: var(--gray-100);
  }
}

.button:focus {
  display: flex;
  height: 28px;
  width: 28px;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid var(--Primary-Blue-Light, #4456f6);
  background: var(--White, #fff);
  box-shadow:
    0px 0px 4px 0px #c7ddff inset,
    0px 0px 0px 4px #9dc3fc;

  #buttonIcon {
    color: var(--gray-100);
  }
}
