:host {
  position: absolute;
  pointer-events: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.keyboard-shortcuts-tooltip {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0.5rem;
  background: var(--gray-100, #45484d);
  color: var(--white, #fff);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  padding: 1rem;
  width: fit-content;
  white-space: wrap;
  z-index: 1000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 -1px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.03);
}

.tooltip-title {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 0.25rem;
}


#arrow {
  position: absolute;
  background: var(--gray-100, #45484d);
  width: 0.625rem;
  height: 0.625rem;
  transform: rotate(45deg);
  border-radius: 0.125rem;
}
