:host {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 251, 251, 0.3);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  z-index: 4000;
  pointer-events: none;
}

.loading-animation {
  position: relative;
  width: 200px;
  height: 200px;
  color: var(--primary-60, #0c7cba);
}
